modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0", "zendesk:1.0.0", "python_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "glibcLocales", "libiconv", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "app"

[[workflows.workflow]]
name = "app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 34335
externalPort = 3001

[userenv]

[userenv.development]
ZENDESK_WEBHOOK_SECRET = "26EA_KiZs_G-bUrmRKxXCUQ2-EVa78tz9nnOaQ-dOJ_WX9Ej03diG9NzAqrCtQpqsMXlujGTF8lh8UfvI37Trw"
ZENDESK_WEBHOOK_ID = "6932434c4334cffa4dbbdb89"

[userenv.production]
ZENDESK_WEBHOOK_SECRET = "TeDiDdNRdYjbOR2X1jebBgh1zyM3un2omCrACXbFF81tNcuMqvQP1Hm0pFwdcZp0NQ-W-gPkYPk9JtTg-uWkkg"
ZENDESK_WEBHOOK_ID = "693249c8e4ca9754f520a88d"

[deployment]
deploymentTarget = "cloudrun"
